:root {
    /* Common Settings */
    --background-color: #22272e;
    --text-color: #ffffffa4;

    --sctrollbar-color: #ffffffa4;

    --link-color: #ea00ff;
    --link-visited-color: #ea00ff;

    --TBBOFBD-text-stroke-color: rgba(0, 255, 0, 0.623);
    --TBBOFBD-text-stroke-width: 1px;
    --TBBOFBD-background-image: url(https://i.imgur.com/UjZSzYu.jpg);
}

/* Code Block Settings */
@media only screen and (min-width: 0px) {

    /* Default */
    /* :root {
        --LANG-misc-color: #ccc;
        --LANG-comment-color: #999;
        --LANG-punctuation-color: #ccc;
        --LANG-attr-name-color: #e2777a;
        --LANG-function-name-color: #6196cc;
        --LANG-boolean-color: #f08d49;
        --LANG-class-name-color: #f8c555;
        --LANG-atrule-color: #cc99cd;
        --LANG-attr-value-color: #7ec699;
        --LANG-entity-color: #67cdcc;
    } */

    /* Summer Theme */
    :root {
        --LANG-misc-color: #ccc;
        --LANG-comment-color: #999;
        --LANG-punctuation-color: #15b2d3;
        --LANG-attr-name-color: #f3d37c;
        --LANG-function-name-color: #ffd700;
        --LANG-boolean-color: #45E51F;
        --LANG-class-name-color: #45E51F;
        --LANG-atrule-color: #ff598f;
        --LANG-attr-value-color: #f3872f;
        --LANG-entity-color: #f3872f;
    }

    /* Hacker Theme */
    /* :root {
        --LANG-comment-color: #00ff37;
        --LANG-misc-color: #00ff37;
        --LANG-comment-color: #00ff37;
        --LANG-punctuation-color: #00ff37;
        --LANG-attr-name-color: #00ff37;
        --LANG-function-name-color: #00ff37;
        --LANG-boolean-color: #00ff37;
        --LANG-class-name-color: #00ff37;
        --LANG-atrule-color: #00ff37;
        --LANG-attr-value-color: #00ff37;
        --LANG-entity-color: #00ff37;
    } */

    /* 
    --LANG-comment-color: #999;
    --LANG-punctuation-color: #dfdfdf;
    --LANG-attr-name-color: #4e1616;
    --LANG-function-name-color: #6196cc;
    --LANG-boolean-color: #f08d49;
    --LANG-class-name-color: #16b18a;
    --LANG-atrule-color: #ea4fec;
    --LANG-attr-value-color: #03441c;
    --LANG-entity-color: #67a8cd;
    */
}