@import "config.css";

/* Common */
body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Courier New', monospace;
    align-content: center;
    text-align: center;
}

body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
    outline: 1px solid var(--scrollbar-color);
}

a:link {
    color: var(--link-color);
}

a:visited {
    color: var(--link-visited-color);
}

.text-quote {
    font-style: italic;
}

#TBBOFBD {
    background: var(--TBBOFBD-background-image) repeat center center;
    background-size: 10vw;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-stroke: var(--TBBOFBD-text-stroke-width) var(--TBBOFBD-text-stroke-color);
}

/* Mobile */
@media only screen and (max-width: 1023px) {
    body {
        font-size: 2.5vw;
    }

    h1 {
        font-size: 6vw;
    }

    h2 {
        font-size: 4vw;
    }
}


/* Desktop */
@media only screen and (min-width: 1024px) {
    body {
        font-size: 1.1vw;
        margin: 0 20% 10%;
    }

    h1 {
        font-size: 3vw;
    }

    h2 {
        font-size: 2vw;
    }
}